<div class="card-body">
    <h1 class="card-title mb-3">Product Form</h1>
    <form (ngSubmit)="onSubmit()" class="validated-form" novalidate>
        <div class="mb-3">
            <label class="form-label" for="productId">productId</label>
            <input class="form-control" type="text" [(ngModel)]="product.productId"
            id="productId" name="productId"
            minlength="8" required #productid="ngModel"/>
            <div *ngIf="productid.invalid && productid.touched" class="alert">
                <div *ngIf="productid.errors?.['required']"> Productid is required</div>
                <div *ngIf="productid.errors?.['minlength']"> Productid must be at least 8 chars long</div>
            </div>
            
            <div class="valid-feedback">Looks good!</div>
        </div>
 
        <div class="mb-3">
            <label class="form-label" for="brand">brand</label>
            <input class="form-control" type="text" [(ngModel)]="product.brand" 
            id="brand" name="Brand" 
            minlength="4" #brand="ngModel">

            <div *ngIf="brand.invalid && brand.touched" class="alert">
                <div *ngIf="brand.errors?.['required']">Brand name is required</div>
                <div *ngIf="brand.errors?.['minlength']">Brand must be at leadt 4 characters long</div>
            </div>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="price">price</label>
            <input class="form-control" type="number" [(ngModel)]="product.price" id="price" name="price" required
                autofocus>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="description">description</label>
            <input class="form-control" type="text" [(ngModel)]="product.description" id="description"
                name="description" required autofocus>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label" for="quantity">quantity</label>
            <input class="form-control" type="number" [(ngModel)]="product.quantity" id="qty" name="qty" required autofocus>
            <div class="valid-feedback">
                Looks good!
            </div>
        </div>
        <button class="btn btn-success btn-block">Submit</button>
    </form>
</div>
 
<div class="container">
    <div>
        <span *ngFor="let product of productData">
            <p>
                {{ product.productId }}
                {{product.brand}}
                {{product.price}}
                {{product.description}}
                {{product.quantity}}
            </p>
        </span>
    </div>
 
    <p><input type="text" name="brand" id="" #inputbrand></p>
    <p>
        <button name="findProducts" (click)="findProducts(inputbrand.value)">FindProducts</button>
    </p>
 
    <div>
        <span *ngFor="let product of filteredProductData">
            <p>
                {{ product.productId }}
                {{product.brand}}
                {{product.price}}
                {{product.description}}
                {{product.quantity}}
            </p>
 
        </span>
    </div>
</div>
